    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <!--<h1 class="brand-heading">{{ site.title }}</h1>-->
                        <div>
                            <img class="text-logo" src="img/text_logo.png" />
                        </div>
                        <div>
                            <img class="sine-wave" src="img/dot_dot_line.png" height="25" />
                        </div>
                        <p class="intro-text">Coming soon..~</p><br>
                        <!--<a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>-->
                    </div>
                </div>
            </div>
        </div>
    </header>
